In [10]:
import pandas as pd
import numpy as np

In [11]:
df = pd.read_csv("Amazon Sale Report cleaned.csv", sep=",")

print("DATA AWAL:")
display(df)

DATA AWAL:

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,ship-city,ship-state,ship-postal-code,ship-country,B2B,ship_state_clean,status_clean,has_promotion,promotion_type,promotion_count
0,98348,407-7954050-3459503,2022-06-23,Shipped,Amazon,Amazon.in,Expedited,J0230,J0230-SKD-XL,Set,...,RAJKOT,Gujarat,360001,IN,False,GUJARAT,Shipped,1,Free Shipping,1
1,98349,408-8030753-2817123,2022-06-23,Shipped,Amazon,Amazon.in,Expedited,JNE2305,JNE2305-KR-533-M,kurta,...,MANGALURU,KARNATAKA,575002,IN,False,KARNATAKA,Shipped,0,No Promotion,0
2,98678,406-4488232-6843545,2022-06-22,Shipped,Amazon,Amazon.in,Expedited,J0349,J0349-SET-XS,Set,...,Bangalore,KARNATAKA,560025,IN,False,KARNATAKA,Shipped,0,No Promotion,0
3,98474,402-1588378-8023542,2022-06-23,Shipped,Amazon,Amazon.in,Expedited,JNE3546,JNE3546-KR-XL,kurta,...,MUMBAI,MAHARASHTRA,400067,IN,False,MAHARASHTRA,Shipped,0,No Promotion,0
4,63188,171-9483397-7457926,2022-05-20,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,SET293,SET293-KR-NP-XL,Set,...,VIJAYAWADA,ANDHRA PRADESH,520008,IN,False,ANDHRA PRADESH,Shipped,1,Credit Card Financing,23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128937,76224,408-5683358-7173955,2022-05-09,Cancelled,Amazon,Amazon.in,Expedited,JNE3567,JNE3567-KR-L,kurta,...,COIMBATORE,TAMIL NADU,641033,IN,False,TAMIL NADU,Cancelled,0,No Promotion,0
128938,63678,402-1515996-8327511,2022-05-20,Cancelled,Amazon,Amazon.in,Expedited,J0339,J0339-DR-M,Western Dress,...,NEW DELHI,DELHI,110010,IN,False,DELHI,Cancelled,0,No Promotion,0
128939,63679,406-7747480-2813949,2022-05-20,Cancelled,Amazon,Amazon.in,Expedited,SET397,SET397-KR-NP-XS,Set,...,NEW DELHI,DELHI,110030,IN,False,DELHI,Cancelled,0,No Promotion,0
128940,79259,405-5461907-9249124,2022-05-07,Cancelled,Amazon,Amazon.in,Expedited,J0003,J0003-SET-S,Set,...,Chennai,TAMIL NADU,600093,IN,False,TAMIL NADU,Cancelled,0,No Promotion,0
128941,76452,407-8408230-4569940,2022-05-09,Cancelled,Amazon,Amazon.in,Expedited,JNE3440,JNE3440-KR-N-M,kurta,...,JHANSI,UTTAR PRADESH,284120,IN,False,UTTAR PRADESH,Cancelled,1,Free Shipping,1

In [12]:
df.duplicated().sum()

df = df.drop_duplicates()

In [13]:
df.isnull().sum()

index                 0
Order ID              0
Date                  0
Status                0
Fulfilment            0
Sales Channel         0
ship-service-level    0
Style                 0
SKU                   0
Category              0
Size                  0
ASIN                  0
Courier Status        0
Qty                   0
currency              0
Amount                0
ship-city             0
ship-state            0
ship-postal-code      0
ship-country          0
B2B                   0
ship_state_clean      0
status_clean          0
has_promotion         0
promotion_type        0
promotion_count       0
dtype: int64

In [14]:
# too much missing value


df = df.drop(columns=["fulfilled-by", "Unnamed: 22"])

KeyError: "['fulfilled-by', 'Unnamed: 22'] not found in axis"

In [15]:
# 1. Binary: Pakai promosi atau tidak
df['has_promotion'] = df['promotion-ids'].notna().astype(int)

# 2. Tipe promosi
def classify_promotion(x):
    if pd.isna(x):
        return 'No Promotion'
    elif 'Free Shipping' in str(x):
        return 'Free Shipping'
    elif 'PLCC' in str(x):
        return 'Credit Card Financing'
    else:
        return 'Other'

df['promotion_type'] = df['promotion-ids'].apply(classify_promotion)

# 3. Jumlah promosi yang dipakai (untuk multiple promotions)
df['promotion_count'] = df['promotion-ids'].apply(
    lambda x: len(str(x).split(',')) if pd.notna(x) else 0
)

# Setelah itu baru drop column asli
df.drop('promotion-ids', axis=1, inplace=True)

KeyError: 'promotion-ids'

In [16]:
df['currency'] = df['currency'].fillna(df['currency'].mode()[0])

In [ ]:
df['Courier Status'] = df['Courier Status'].fillna(df['Courier Status'].mode()[0])

In [ ]:
# drop 

df = df.dropna(subset=['ship-city', 'ship-state', 'ship-country'])

In [ ]:
df.isnull().sum()

index                 0
Order ID              0
Date                  0
Status                0
Fulfilment            0
Sales Channel         0
ship-service-level    0
Style                 0
SKU                   0
Category              0
Size                  0
ASIN                  0
Courier Status        0
Qty                   0
currency              0
Amount                0
ship-city             0
ship-state            0
ship-postal-code      0
ship-country          0
B2B                   0
ship_state_clean      0
status_clean          0
has_promotion         0
promotion_type        0
promotion_count       0
dtype: int64

In [ ]:

df['ship_state_clean'].value_counts().tail(15)

ship_state_clean
JAMMU & KASHMIR           702
PUDUCHERRY                351
CHANDIGARH                333
MANIPUR                   316
ANDAMAN & NICOBAR         257
MEGHALAYA                 207
SIKKIM                    205
NAGALAND                  187
TRIPURA                   151
ARUNACHAL PRADESH         147
MIZORAM                    76
DADRA AND NAGAR HAVELI     70
LADAKH                     43
LAKSHADWEEP                 4
APO                         1
Name: count, dtype: int64

In [19]:

import re

def clean_city(x):
    if pd.isna(x):
        return x
    x = x.lower()
    x = re.sub(r'[^a-z\s]', ' ', x)
    x = re.sub(r'\s+', ' ', x)
    return x.strip()

df['ship_city_clean'] = df['ship-city'].apply(clean_city)

In [20]:


cities = df['ship_city_clean'].value_counts().index.tolist()

In [21]:
from rapidfuzz import fuzz, process
import pandas as pd

unique_cities = df['ship_city_clean'].dropna().unique().tolist()
clusters = {}

for city in unique_cities:
    found = False
    for key in clusters:
        if fuzz.token_sort_ratio(city, key) >= 90:  # threshold bisa diubah
            clusters[key].append(city)
            found = True
            break
    if not found:
        clusters[city] = [city]

# buat mapping dari setiap variasi ke cluster key
city_map = {var: key.upper() for key, vars in clusters.items() for var in vars}

df['ship_city_norm'] = df['ship_city_clean'].map(city_map)

In [22]:
df[['ship-city', 'ship_city_clean', 'ship_city_norm']].head(30)

           ship-city   ship_city_clean    ship_city_norm
0             RAJKOT            rajkot            RAJKOT
1          MANGALURU         mangaluru         MANGALURU
2          Bangalore         bangalore         BANGALORE
3             MUMBAI            mumbai            MUMBAI
4         VIJAYAWADA        vijayawada        VIJAYAWADA
5             Howrah            howrah            HOWRAH
6          PANCHKULA         panchkula         PANCHKULA
7          Bangalore         bangalore         BANGALORE
8            KOLKATA           kolkata           KOLKATA
9            KOLKATA           kolkata           KOLKATA
10         MANGALDOI         mangaldoi         MANGALDOI
11           NEYVELI           neyveli           NEYVELI
12             THANE             thane             THANE
13         NEW DELHI         new delhi         NEW DELHI
14          ROURKELA          rourkela          ROURKELA
15            MOHALI            mohali            MOHALI
16            MUMBAI            mumbai            MUMBAI
17         NEW DELHI         new delhi         NEW DELHI
18           CHENNAI           chennai           CHENNAI
19  PIMPRI CHINCHWAD  pimpri chinchwad  PIMPRI CHINCHWAD
20        CHANDIGARH        chandigarh        CHANDIGARH
21       KALAMASSERY       kalamassery       KALAMASSERY
22         HYDERABAD         hyderabad         HYDERABAD
23         BENGALURU         bengaluru         BENGALURU
24         mira road         mira road         MIRA ROAD
25            MUMBAI            mumbai            MUMBAI
26            IMPHAL            imphal            IMPHAL
27              PUNE              pune              PUNE
28           CHENNAI           chennai           CHENNAI
29         .azamgarh          azamgarh          AZAMGARH

In [23]:

df['ship_city_norm'].value_counts()

ship_city_norm
BENGALURU             11936
HYDERABAD              9150
MUMBAI                 7197
NEW DELHI              6369
CHENNAI                6322
                      ...
DONA PAULA PANAJI         1
BANMOR MORENA             1
DARMAVARAM ADDANKI        1
GORESWAR                  1
TOTU                      1
Name: count, Length: 6359, dtype: int64

In [24]:
df.isnull().sum()

index                 0
Order ID              0
Date                  0
Status                0
Fulfilment            0
Sales Channel         0
ship-service-level    0
Style                 0
SKU                   0
Category              0
Size                  0
ASIN                  0
Courier Status        0
Qty                   0
currency              0
Amount                0
ship-city             0
ship-state            0
ship-postal-code      0
ship-country          0
B2B                   0
ship_state_clean      0
status_clean          0
has_promotion         0
promotion_type        0
promotion_count       0
ship_city_clean       0
ship_city_norm        0
dtype: int64

In [26]:

df.to_csv("Amazon Sale Report cleaned.csv", index=False)